# Ignore checkpoints and results
checkpoints/
results/
test_results/

# Ignore data and figures
data/
figures/

# Ignore Python cache and virtual environment
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Ignore temporary and backup files
*.tmp
*.bak
*.swp
*.swo
*.~*

# Ignore result and test files
result_long_term_forecast.txt
*.npy

# Ignore system files
.DS_Store
Thumbs.db
